In [9]:
import pandas as pd
import numpy as np


def clean_data(path: str):
    df = pd.read_csv(path)

    df = df.loc[df['product'] == 'pink morsel']

    df['price'] = df['price'].str.replace('$', '')
    df['price'] = df['price'].astype(np.float16)
    df['sales'] = df['quantity'] * df['price']
    df = df[['sales', 'date', 'region']]
    return df

daily0 = clean_data('./data/daily_sales_data_0.csv')
daily1 = clean_data('./data/daily_sales_data_1.csv')
daily2 = clean_data('./data/daily_sales_data_2.csv')

display(daily0.head())
display(daily1.head())
display(daily2.head())

     sales        date region
0   1638.0  2018-02-06  north
1   1647.0  2018-02-06  south
2   1731.0  2018-02-06   east
3   1557.0  2018-02-06   west
28  1587.0  2018-02-07  north

     sales        date region
0   1635.0  2019-06-11  north
1   1563.0  2019-06-11  south
2   1785.0  2019-06-11   east
3   1521.0  2019-06-11   west
28  1728.0  2019-06-12  north

     sales        date region
0   1578.0  2020-10-13  north
1   1638.0  2020-10-13  south
2   1515.0  2020-10-13   east
3   1683.0  2020-10-13   west
28  1680.0  2020-10-14  north

In [11]:
# convert to a single file

df = pd.concat([daily0, daily1, daily2], ignore_index=True)
df.to_csv('./data/clean_data.csv')